.bg-login {
  background: radial-gradient(circle at center, #0569cd, #002d5a, #001430);
}

.card-bg {
  background: transparent;
}

.logo-dark {
  // min-height: 1rem;
  max-height: 40rem;
  aspect-ratio: 2/1;
  margin-top: -3rem;
}

.content-login {
  max-height: 30rem;
}
