<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a href="index.html" class="waves-effect">
            <i class="dripicons-device-desktop"></i>
            <span>Inicio</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="dripicons-suitcase"></i>
            <span> Metricas </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="ui-buttons.html">Buttons</a></li>
            <li><a href="ui-cards.html">Cards</a></li>
            <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
            <li><a href="ui-modals.html">Modals</a></li>
            <li><a href="ui-images.html">Images</a></li>
            <li><a href="ui-alerts.html">Alerts</a></li>
            <li><a href="ui-progressbars.html">Progress Bars</a></li>
            <li><a href="ui-dropdowns.html">Dropdowns</a></li>
            <li><a href="ui-lightbox.html">Lightbox</a></li>
            <li><a href="ui-navs.html">Navs</a></li>
            <li><a href="ui-pagination.html">Pagination</a></li>
            <li>
              <a href="ui-popover-tooltips.html">Popover &amp; Tooltips</a>
            </li>
            <li><a href="ui-badge.html">Badge</a></li>
            <li><a href="ui-carousel.html">Carousel</a></li>
            <li><a href="ui-video.html">Video</a></li>
            <li><a href="ui-typography.html">Typography</a></li>
            <li><a href="ui-sweet-alert.html">Sweetalert</a></li>
            <li><a href="ui-grid.html">Grid</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="dripicons-mail"></i>
            <span> Reportes </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="email-inbox.html">Inbox</a></li>
            <li><a href="email-read.html">Email Read</a></li>
            <li><a href="email-compose.html">Email Compose</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="dripicons-card"></i>
            <span> Proyectos </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="contacts-grid.html">Contact Grid</a></li>
            <li><a href="contacts-list.html">Contact List</a></li>
            <li><a href="contacts-profile.html">Profile</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="dripicons-card"></i>
            <span> Herramientas </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="dripicons-card"></i>
              <span> WhatsApp </span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="wp-mass-messages.html">Mensajes Masivos</a></li>
              <li><a href="wp-real-time-messages.html">Mensajes Tiempo Real</a></li>
            </ul></li>

            <li><a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="dripicons-card"></i>
              <span> Llamadas </span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="contacts-grid.html">Mensajes Masivos</a></li>
              <li><a href="contacts-grid.html">Mensajes Tiempo Real</a></li>
            </ul></li>

            <li><a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="dripicons-card"></i>
              <span> SMS </span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="contacts-grid.html">Mensajes Masivos</a></li>
              <li><a href="contacts-grid.html">Mensajes Tiempo Real</a></li>
            </ul></li>

            <li><a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="dripicons-card"></i>
              <span> Mails </span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="contacts-grid.html">Mensajes Masivos</a></li>
              <li><a href="contacts-grid.html">Mensajes Tiempo Real</a></li>
            </ul></li>

            <li><a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="dripicons-card"></i>
              <span> Códigos QR </span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="contacts-grid.html">Mensajes Masivos</a></li>
              <li><a href="contacts-grid.html">Mensajes Tiempo Real</a></li>
            </ul></li>
          </ul>
        </li>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->

<!-- Script assets/partials/sedebar.js -->
 <script src="assets/js/partials/sidebar.js"></script>